@inject HttpClient Http

<h1>ProductLists</h1>
<ul>
    @foreach (var product in products)
    {
        <li class="media my-3">
            <div class="media-img-wrapper mr-2">
                <a href="/product/@product.Id">
                    @if (!string.IsNullOrEmpty(product.ImageUrl))
                    {
                        <img class="media-img" src="@product.ImageUrl" alt="@product.Title" />
                    }
                </a>
            </div>
            <div class="media-body">
                <a href="/product/@product.Id">
                    <h4 class="mb-0">@product.Title</h4>
                </a>
                <p>@product.Description</p>
                <h5 class="price">
                    @* @GetPriceText(product) *@
                </h5>
            </div>
        </li>
    }
</ul>

@code {
    private List<Product> products = new List<Product>();

    protected override async Task OnInitializedAsync()
    {
        products = await Http.GetFromJsonAsync<List<Product>>("https://localhost:5001/api/Product");
        @* Console.WriteLine(products); *@
    }
}
